*{
    padding:0;
    margin:0;
}
html,body{
    width:100%;
    max-width: 100%;
}
@font-face {
    font-family: catamaran;
    src: url("../fonts/Catamaran.woff");
}
@font-face {
    font-family: somatic;
    src: url("../fonts/Somatic-Rounded.woff");
}
@font-face {
    font-family: ty;
    src: url("../fonts/typold.woff");
}
@font-face {
    font-family: myriad;
    src: url("../fonts/MYRIADPRO-BOLD.woff");
}

.navbar{
    height:50px;
    width:100%;
    background-color:#fafafa;
    display: flex;
    flex-direction: row;
    grid-gap: 80px;
    color:black;
    font-family: catamaran;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.navbar img{
    height:40px;
    margin-left: 150px;
}

.card{
    display: block;
    margin: 0 auto;
    width:60%;
    border:0px;
    margin-top: 100px;
}
.card h4{
    font-family: catamaran;
    color: black;
}
.card p{
    font-size: 50px;
    font-family:myriad;
    font-weight: light;
    width: 56%;
}

.card1{
    display: block;
    margin: 0 auto;
    width:60%;
    border:0px;
    margin-top: 100px;

}

.card1 h4{
    font-family: catamaran;
    color: black;
    
}
.card1 p{
    font-size: 50px;
    font-family:myriad;
    font-weight: light;
    width: 86%;
   
}
#parallax1{
    height:800px;
    width:100%;
    background-attachment:fixed;
    margin-top: 30px;
}
#parsly{
    display: block;
    margin: 0 auto;
    height:300px;
    margin-top: 50px;
}
.cards{
    display: flex;
    flex-direction: row;
    grid-gap:50px;
    justify-content: center;
    align-self: center;
    align-content: center;

    align-items: center;
}

.mission{
   
    text-align: center;
    
    width:400px;
    height:480px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.mission h1{
  
    color:black;
    font-family: myriad;
   
    margin-bottom: 30px;
}

.mission h1:hover{
   
        background-color: white;
        color: black;
    
}

.mission p{
    display: block;
    margin:0 auto;
    width:80%;
    font-family: catamaran;

}

#main1{
    text-align: center;
    font-size: 30px;
    font-family: myriad;
    margin-top: 20px;
}

.mission img{
    height:200px;
    width:350px;
    border-radius: 15px;
    display: block;
    margin:0 auto;
    background-size: contain;
}

.mission1{
    text-align: center;
    
    width:400px;
    height:230px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mission1 h1{
  
    color:black;
    font-family: myriad;
   
    margin-bottom: 30px;
    font-size: 25px;
}

.mission h1:hover{
   
        background-color: white;
        color: black;
    
}

.mission1 p{
    display: block;
    margin:0 auto;
    width:80%;
    font-family: catamaran;

}
.footer{
    bottom:0;
    position: relative;
    height:500px;
    background-color: #fafafa;
    color:black;
    width:100%;
    display: flex;
    flex-direction: row;
    grid-gap: 130px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family:catamaran;
    font-weight: lighter;

}

.column{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height:300px;


}
.column p{
    font-size: 20px;
}

.column img{
    height:50px;
    width:33px;

}
#bold{
    font-weight: bolder;
    font-size: 20px;
    
}
a{
    text-decoration: none;
    color:black;
}