*{
    padding:0;
    margin:0;
}
html,body{
    width:100%;
    max-width: 100%;
    background-color: #fafafa;
}
@font-face {
    font-family: catamaran;
    src: url("../fonts/Catamaran.woff");
}
@font-face {
    font-family: somatic;
    src: url("../fonts/Somatic-Rounded.woff");
}
@font-face {
    font-family: ty;
    src: url("../fonts/typold.woff");
}
.navbar{
    height:50px;
    width:100%;
    background-color:#fafafa;
    display: flex;
    flex-direction: row;
    grid-gap: 80px;
    color:black;
    font-family: catamaran;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 0.3px solid black;

}
.navbar img{
    height:40px;
    margin-left: 150px;
}
.card{
    display: block;
    margin:0 auto;
    width:50%;
    height:800px;
    text-indent: 130px;

}

.card h1{
    font-family: catamaran;
    font-weight: bolder;

}
.card h3{
    font-family: catamaran;
}
#firstname{
    margin-left:130px;
    margin-top:90px;
    width:450px;
    height:70px;
    background-color: white;
    border:0.5px solid black;
    border-radius:10px;
    margin-bottom:20px;
}
#lastname{
    margin-left:130px;
    width:450px;
    height:70px;
    background-color: white;
    border:0.5px solid black;
    border-radius:10px;
    margin-bottom:20px;
}

#budget{
    margin-left:130px;
    width:450px;
    height:70px;
    background-color: white;
    border:0.5px solid black;
    border-radius:10px;
    margin-bottom:20px;
}

#mail{
    margin-left:130px;
    width:450px;
    height:70px;
    background-color: white;
    border:0.5px solid black;
    border-radius:10px;
    margin-bottom:20px;
}
::-webkit-input-placeholder {
    font-family:catamaran;
    font-weight: lighter;
    opacity: 0.5;
    color:black;
    font-size:18px;
    left:4%;
   
}

:-moz-placeholder{
    font-family:monospace;
    font-weight: lighter;
    opacity: 0.5;
    color:black;
    font-size:19px;
    text-align: center;

}
input[type=text]{
    text-indent: 30px;
    font-family:catamaran;
    font-size:18px;
   
    
}
textarea{
    text-indent: 30px;
    padding-top: 10px;
    font-family:catamaran;
    font-size:18px;

}

#textarea{
    width:450px;
    
    background-color:white;
    color:black;
    resize: none;
    height:120px;
    border:0.5px solid black;
    border-radius:10px;
   
    
    margin-left:130px;
}
#submit{
    margin-left: 130px;
    color:black;
    background:none;
    padding:0;
    border: 0.9px solid black;
    border-radius: 25px;
    height: 40px;
    width:90px;
    font-size: 18px;
    font-family: catamaran;
    margin-top: 20px;
}

    

